.info {
    display: flex;
    flex-direction: column;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    animation: expand 500ms ease-in-out;
}

@keyframes expand {
    0% {
        transform: scaleY(0);
    }

    70% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}

.input-heading {
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 28px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0.1rem;
    text-align: left;
}

.dateContainer {
    display: flex;
    gap: 1rem;
}

.textarea {
    resize: none;
}

.addBtn {
    background-color: rgb(59, 59, 83);
    align-self: flex-end;
    border: none;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 1rem;
    padding: 0.3rem 1.2rem;
    margin-top: 0.7rem;
    cursor: pointer;
}

.addBtn:hover {
    border: 1px solid rgb(207, 207, 207);
}

.list-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.1rem;
    padding-left: 0.5rem;
    margin: 0.5rem;
    background-color: rgb(52, 62, 71);
}